/* Styles for the container element */
.container {
    max-width: 900px; /* Set maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 40px; /* Add padding inside the container */
    margin-top: 5%; /* Set top margin */
    overflow: hidden; /* Hide any overflowing content */
}

/* Styles for the grid layout of the signup form */
.signup-grid {
    display: grid; /* Use grid layout for the element */
    grid-template-columns: 1fr; /* A single column for simplicity */
    grid-gap: 10px; /* Set the gap between grid items */
    text-align: center; /* Center align grid content */
}

/* Styles for the main signup text */
.signup-text {
    margin-bottom: 10px;
}

.signup-text h1 {
    color: #0d213f;
    font-weight: 600;
}

/* Styles for additional signup text */
.signup-text1 {
    margin-bottom: 20px;
}

/* Styles for the signup form section */
.signup-form {
    width: 100%;
    max-width: 500px; /* Control form width */
    margin: 0 auto; /* Center the form */
    text-align: left;
}

/* Styles for form groups in the signup form */
.form-group {
    margin-bottom: 20px; /* Add bottom margin to form groups */
}

.form-group label {
    display: block; /* Display labels as blocks */
    margin-bottom: 5px; /* Add bottom margin to labels */
    font-weight: bold; /* Set font weight to bold for labels */
}

/* Styles for form controls in the signup form */
.form-control {
    width: 100%; /* Set width of form controls to full */
    padding: 10px; /* Add padding inside form controls */
    font-size: 16px; /* Set font size */
    border: 1px solid #ccc; /* Add border with color */
    border-radius: 4px; /* Add border radius for rounded corners */
    box-sizing: border-box;
}

/* Styles for button group in the signup form */
.btn-group {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Styles for buttons in the signup form */
.btn {
    padding: 10px 20px; /* Set padding for buttons */
    font-size: 16px; /* Set font size for buttons */
    border: none; /* Remove button borders */
    border-radius: 4px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-right: 10px; /* Add space between buttons */
}

/* Styles for primary button in the signup form */
.btn-primary {
    background-color: #007bff; /* Set background color for primary button */
    color: #fff; /* Set text color for primary button */
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Styles for danger button in the signup form */
.btn-danger {
    background-color: #dc3545; /* Set background color for danger button */
    color: #fff; /* Set text color for danger button */
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Styling for error messages */
.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}